@import "./variable";

.message-wrapper{
	@extend .fixed-full;
	.message-mask{@extend .fixed-full;
		background-color: rgba(0,0,0,0.6);
	}
	.message-container{
		@extend .fixed-full;
		display: flex;justify-content: center;align-items: center;
		.message-box{display: inline-block;border-radius:10px;border: 1px sold #666;width: 456px;background-color: #fff;box-shadow: 0 0 30px rgba(0,0,0,0.3);
			.title{height: 164px;display: flex;justify-content: center;align-items: center;}
			.content{line-height: 48px;display: flex;justify-content: center;align-items: center;padding-bottom: 48px;border-bottom: 1px solid #ccc;}
			.footer{width: 100%;
				.btn-ok{display: block;height: 88px;line-height: 88px;text-align: center;font-size: 32px;color:#4c76ff;}
			}
		}
	}
}
